{% load static %}

<div class="mdk-drawer js-mdk-drawer" id="default-drawer">
    <div class="mdk-drawer__content">
        <div class="sidebar sidebar-dark sidebar-left" data-perfect-scrollbar>

            <a href="#" class="sidebar-brand ">
                <img class="sidebar-brand-icon" src="{% static 'assets/images/logo/accent-red-100@2x.png' %}"
                    alt="Huma">
                <span>CAP</span>
            </a>

            <form action="#"
                class="search-form flex-shrink-0 search-form--black sidebar-m-b sidebar-p-l mx-16pt pr-0">
                <input type="text" class="form-control pl-0" placeholder="Search" name="q" {% if query %}value="{{ query }}" {% endif %}>
                <button class="btn" type="submit"><i class="material-icons">search</i></button>
            </form>

            <div class="sidebar-heading">Overview</div>
            <ul class="sidebar-menu">
                <li class="sidebar-menu-item {% if home_page %}active{% endif %}">
                    <a class="sidebar-menu-button" href="{% url 'MainApp:home' %}">
                        <span
                            class="material-icons sidebar-menu-icon sidebar-menu-icon--left">insert_chart_outlined</span>
                        <span class="sidebar-menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-menu-item {% if klien_page %}active{% endif %}">
                    <a class="sidebar-menu-button" href="{% url 'MainApp:klien' %}">
                        <span
                            class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
                        <span class="sidebar-menu-text">Klien</span>
                    </a>
                </li>
            </ul>

            <div class="sidebar-heading">Applications</div>
            <ul class="sidebar-menu">
                <li class="sidebar-menu-item {% if invoice_page %}active{% endif %}">
                    <a class="sidebar-menu-button" href="{% url 'MainApp:invoice' %}">
                        <span
                            class="material-icons sidebar-menu-icon sidebar-menu-icon--left">content_copy</span>
                        <span class="sidebar-menu-text">Invoice</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>